html, body {
  height: 100%;
  margin: 0; 
  padding: 0; 
}

body {
  color: black; 
}


.title{
  display: flex;
  height: 15vh;
  width: 100%; 
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

.side_map{
  display: flex;
  flex: 1; 
  background-color: orange;
}

.state_select{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vh;
  height: 80vh;
  background-color: orange;
  margin-bottom: 35px; 
  overflow: auto;
}

.state_select #state_button_container{
  display: flex;
  width: 100%;
  height: auto;
  background-color: blueviolet;
  margin-bottom: 5px;
  flex-direction: column;
}

.state_button_container button {
  width: 100%; 
}

.us_map {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.us_map #map-container{
  position: relative;
  float: left;
  height: 0;
  width: 85%;
  padding-bottom: 40%;
  background: blue;
}

