html, body {
  height: 100%;
  margin: 0; 
  padding: 0; 
}

body {
  color: white; 
}


.title{
  display: flex;
  height: 15vh;
  width: 100%; 
  flex-direction: column;
  align-items: center;
  background-color: blue;
}

.side_map{
  display: flex;
  flex: 1; 
  background-color: orange;
}

.state_select{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25vh;
  height: 90vh;
  background-color: orange;
  overflow: auto;
}

.state_select #state_button_container{
  display: flex;
  width: 100%;
  height: auto;
  background-color: blueviolet;
  margin-bottom: 5px;
  flex-direction: column;
}

.state_button_container button {
  width: 100%; 
}

.us_map {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: none;
}

.us_map #map-container{
  position: relative;
  float: left;
  height: 0;
  width: 100%;
  padding-bottom: 60%;
  background: blue;
}

/* Implment later
#map-container {
  position: relative;
  float: left;
  height: 0;
  width: 80%;
  padding-bottom: 60%;
  background: blue;
}
#goals {
  float: left;
  width: 40%;
}
#state-summary {
  float: right;
  width: 40%;
}
.hoverpopup {
  background: #eeeeee;
  border: 1px black solid;
  padding: 5px;
} */