
body {
  margin: 20px;
  font-family: Helvetica;
  background: #ddffdd;
}
div {
  float:left;
  width:150px;
  height:700px;
  overflow:auto;
}
/* Implment later
#map-container {
  position: relative;
  float: left;
  height: 0;
  width: 80%;
  padding-bottom: 60%;
  background: blue;
}

#goals {
  float: left;
  width: 40%;
}

#state-summary {
  float: right;
  width: 40%;
}

.hoverpopup {
  background: #eeeeee;
  border: 1px black solid;
  padding: 5px;
} */