<!--Create the Analyze page-->
<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <!--Import Vega Lite-->
        <script src="https://cdn.jsdelivr.net/npm/vega@5.19.1"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.0.0"></script>
        <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.15.1"></script>

        
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='analyze.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

        <title>Analyze</title>
        <meta content="text/html; charset=utf-8" />
    </head>
    <body>

    </body>
    <script>
        
    </script>
</html>