<!--Martin Bernard and Victor Huang-->
<!DOCTYPE html>
<html lang="en" xml:lang="en">
    <head>
        <!--Map Resources-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
        <script src="{{ url_for('static', filename='datamaps.usa.min.js') }}"></script>

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}" />
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />

        <title>Police Shootings</title>
        <meta content="text/html; charset=utf-8" />
    </head>
    <body>
        <div class='title'>
            <h1>Police Shootings</h1>
        </div>
        <div class='side_map'>
            <div class='state_select'>
                <h3>States</h3>
                <div id="state_button_container">
                    <button class="stateButton" id="AL" value = "Alabama"> Alabama</button>
                    <button class="stateButton" id="AK" value = "Alaska">Alaksa</button>
                    <button class="stateButton" id="AZ" value = "Arizona">Arizona</button>
                    <button class="stateButton" id="AR" value = "Arkansas">Arkansas</button>
                    <button class="stateButton" id="CA" value = "California">California</button>
                    <button class="stateButton" id="CO" value = "Colorado">Colorado</button>
                    <button class="stateButton" id="CT" value = "Connecticut">Connecticut</button>
                    <button class="stateButton" id="DE" value = "Delaware">Delaware</button>
                    <button class="stateButton" id="DC" value = "District of columbia">D.C</button>
                    <button class="stateButton" id="FL" value = "Florida">Florida</button>
                    <button class="stateButton" id="GA" value = "Georgia">Georgia</button>
                    <button class="stateButton" id="HI" value = "Hawaii">Hawaii</button>
                    <button class="stateButton" id="ID" value = "Idaho">Idaho</button>
                    <button class="stateButton" id="IL" value = "Illinois">Illinois</button>
                    <button class="stateButton" id="IN" value = "Indiana">Indiana</button>
                    <button class="stateButton" id="IA" value = "Iowa">Iowa</button>
                    <button class="stateButton" id="KS" value = "Kansas">Kansas</button>
                    <button class="stateButton" id="KY" value = "Kentucky">Kentucky</button>
                    <button class="stateButton" id="LA" value = "Louisiana">Louisiana</button>
                    <button class="stateButton" id="ME" value = "Maine">Maine</button>
                    <button class="stateButton" id="MD" value = "Maryland">Maryland</button>
                    <button class="stateButton" id="MA" value = "Massachusetts">Massachusetts</button>
                    <button class="stateButton" id="MI" value = "Michigan">Michigan</button>
                    <button class="stateButton" id="MN" value = "Minnesota">Minnesota</button>
                    <button class="stateButton" id="MS" value = "Mississippi">Mississippi</button>
                    <button class="stateButton" id="MO" value = "Missouri">Missouri</button>
                    <button class="stateButton" id="MT" value = "Montana">Montana</button>
                    <button class="stateButton" id="NE" value = "Nebraska">Nebraska</button>
                    <button class="stateButton" id="NV" value = "Nevada">Nevada</button>
                    <button class="stateButton" id="NH" value = "New Hampshire">New Hempshire</button>
                    <button class="stateButton" id="NJ" value = "New Jersey">New Jersey</button>
                    <button class="stateButton" id="NM" value = "New Mexico">New Mexico</button>
                    <button class="stateButton" id="NY" value = "New York">New York </button>
                    <button class="stateButton" id="NC" value = "North Carolina">North Carolina</button>
                    <button class="stateButton" id="ND" value = "North Dakota">North Dakota</button>
                    <button class="stateButton" id="OH" value = "Ohio">Ohio</button>
                    <button class="stateButton" id="OK" value = "Oklahoma">Oklahoma</button>
                    <button class="stateButton" id="OR" value = "Oregon">Oregon</button>
                    <button class="stateButton" id="PA" value = "Pennsylvania">Pennsylvania</button>
                    <button class="stateButton" id="RI" value = "Rhode Island">Rhode Island</button>
                    <button class="stateButton" id="SC" value = "South Carolina">South Carolina</button>
                    <button class="stateButton" id="SD" value = "South Dakota">South Dakota</button>
                    <button class="stateButton" id="TN" value = "Tennessee">Tennessee</button>
                    <button class="stateButton" id="TX" value = "Texas">Texas</button>
                    <button class="stateButton" id="UT" value = "Utah">Utah</button>
                    <button class="stateButton" id="VT" value = "Vermont">Vermont</button>
                    <button class="stateButton" id="VA" value = "Virginia">Virginia</button>
                    <button class="stateButton" id="WA" value = "Washington">Washington</button>
                    <button class="stateButton" id="WV" value = "West Virginia">West Virginia</button>
                    <button class="stateButton" id="WI" value = "Wisconsin">Wisconsin</button>
                    <button class="stateButton" id="WY" value = "Wyoming">Wyoming</button>
                    <button class="stateButton" id="all" value = "United States"> View All</button>
                </div>

            </div>
            <div class="us_map">
                <div id="map-container"></div>
            </div>
        </div>
    </body>
</html>



