<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='victims.css') }}" />
        <script src="{{ url_for('static', filename='victims.js') }}"></script>
        <title>
            Victims 
        </title>
    </head>
    <body>
        <div class="sidebar">
            <div id="state"> 
                <h3 id="full_name"></h3>
            </div>
            
            <div class="search">
                <input type="text" placeholder="Victim's Name" name="search_victim" id="search">
                <button type="submit" onclick = "onSearch()">
                </button>
            </div>
            <div id="age"> Age
            </div>
            <div class="year"> Year
                <div class="from_year">
                    From: 
                    <input id="min_year" type="text" placeholder="Minimum Year" value="2015">
                </div>
                <div class="to_year">
                    To:
                    <input id="max_year" type="text" placeholder="Maximum Year" value="2021">
                </div>
            </div>
            <div class="race"> Race
                <div class="race_checkbox"> African American: 
                    <input type="checkbox" id="african_american" unchecked>
                </div>
                <div class="race_checkbox"> Asian: 
                    <input type="checkbox" id="asian" unchecked>
                </div>
                <div class="race_checkbox"> Hispanic: 
                    <input type="checkbox" id="hispanic" unchecked>
                </div>
                <div class="race_checkbox"> Native: 
                    <input type="checkbox" id="native" unchecked>
                </div>
                <div class="race_checkbox"> White: 
                    <input type="checkbox" id="white" unchecked>
                </div>
                <div class="race_checkbox"> Other: 
                    <input type="checkbox" id="other" unchecked>
                </div>
            </div>
            <div class="armed">Armed
                <div class="armed_checkbox"> Armed:
                    <input type="checkbox" id="armed" unchecked>
                </div>
                <div class="armed_checkbox"> Unarmed: 
                    <input type="checkbox" id="unarmed" unchecked>
                </div>
            </div>
            <div class="filter">
                <button id="filter_button" onclick="onFilter()">Filter</button>
            </div>
            <div class="analyze">
                <button class="analyze_button">Analyze</button>
            </div>
            <div class="home">  
                <button class="home_button" onclick='onHome()'>Home</button>
            </div>
        </div>
        <div class="bread_table">
            <div id="breadcrumb">
                <ul>
                    <li id="home"></li>
                    <li>></li>
                    <li id="cur_page"></li>
                </ul>
            </div>
            <div class = 'victims_table'>
                <div id="table">
                    <table id = 'victims_table'></table>
                </div>
            </div>
        </div>
    </body>
</html>