/* Author: Victor Huang */
body {
    margin: 20px;
}

#sections {
    height: 500px;
    width: 100%;
}

/* top section CSS */
#top {
    width: 100%;
    height: 20%;
    float:left;
    background-color: green;
}

/* left section CSS */
#left {
    width: 30%;
    height: 80%;
    float:left;
    background-color: #aa0000;
}

/* right section CSS */
#right {
    width: 70%;
    height: 80%;
    float:left;
    background-color: #cccc00;
}


